extends ../main.layout.pug

block variables
  - var title = 'Сотрудничество'

block content
  .container 
    h1.title.title--page 28-30.05.2015 - военно-патриотическая акция в Пензенской области
    h2.title Работа на перспективу
    p.text.text--justify.text--mb <b>Цель Акции</b> - реализация государственной программы «Патриотическое воспитание граждан Российской Федерации на 2011 – 2015 годы», утвержденной постановлением Правительства Российской Федерации от 05.10.2010 № 795.
    p.text.text--justify <b>Задачи Акции:</b>
    p.text.text--justify &#8209; формирование позитивного имиджа органов безопасности и образовательных организаций ФСБ&nbsp;России, популяризация военной службы;
    p.text.text--justify &#8209; военно-патриотическое воспитание молодёжи;
    p.text.text--justify &#8209; обучение представителей вузов ФСБ&nbsp;России эффективным формам профориентационной работы;
    p.text.text--justify &#8209; воспитание курсантов в духе патриотизма и лучших традиций органов безопасности;
    p.text.text--justify.text--mb &#8209; привлечение для поступления в образовательные организации ФСБ&nbsp;России и на службу в органы безопасности наиболее подготовленных кандидатов.
    p.text.text--justify.text--mb <b>Участники Акции</b> - представители 7 образовательных организаций ФСБ&nbsp;России пограничного профиля (всего 146 человек).
    p.text.text--justify <b>Организаторы Акции:</b>
    p.text.text--justify &#8209; Голицынский пограничный институт ФСБ&nbsp;России;
    p.text.text--justify &#8209; Управление ФСБ&nbsp;России по Пензенской области;
    p.text.text--justify.text--mb &#8209; Пограничное управление ФСБ&nbsp;России по Саратовской и Самарской областям.
    p.text.text--justify <b>Основные этапы Акции:</b>
    p.text.text--justify 28 мая (г.&#8209;Пенза)
    p.text.text--justify 1.Возложение цветов к Монументу воинской и трудовой славы на площади Победы с участием молодёжных и ветеранских патриотических организаций.
    p.text.text--justify 2.	Презентационное мероприятие в киноконцертном зале «Пенза» (на 1600 посадочных мест), включающее:
    p.text.text--justify &#8209; интерактивную выставочную экспозицию с информацией о ведомственных образовательных организациях и службе в органах безопасности;
    p.text.text--justify &#8209; выставку оружия и снаряжения, стоящего на вооружении органов безопасности;
    p.text.text--justify &#8209; концертную программу вокально-хореографического ансамбля «Честь имею!» ГПИ ФСБ&nbsp;России.
    p.text.text--justify.text--mb 3.	Концертная программа на центральной площади города посвящённая Дню пограничника
    .row
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation4/cooperation1.jpg" alt="img")
          p.card__desc.card__desc--history Глава г.&nbsp;Пензы Кувайцев&nbsp;В.Н. открывает церемонию возложения цветов к памятнику <br> "Защитникам Отечества"
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation4/cooperation2.jpg" alt="img")
          p.card__desc.card__desc--history Возложение венков от ветеранов Пограничной Службы ФСБ&nbsp;России <br> (г.&nbsp;Пенза)
    p.text.text--justify 29 мая (п.&nbsp;Кижеватово, г.&nbsp;Кузнецк Пензенской области)
    p.text.text--justify 1.	Участие в мероприятиях 22 Всероссийского слёта кижеватовцев, посвящённого памяти защитника Брестской крепости героя-пограничника А.М.&nbsp;Кижеватова.
    p.text.text--justify 2.	Презентационное мероприятие во Дворце культуры «Родина»;
    p.text.text--justify 3.	Торжественный марш участников Акции, представителей администрации, молодёжи и ветеранов пограничной службы по улицам города к мемориальному комплексу «Холм Славы»;
    p.text.text--justify.text--mb 4. Воинский ритуал на «Холме Славы».
    .row
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation4/cooperation3.jpg" alt="img")
          p.card__desc.card__desc--history Будущие защитники Родины в одном строю с курсантами-голицынцами <br> (п.&nbsp;Кижеватово Пензенской области)
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation4/cooperation4.jpg" alt="img")
          p.card__desc.card__desc--history Мемориальный комплекс герою-пограничнику А.М.&#8209;Кижеватову <br> (п.&nbsp;Кижеватово)
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation4/cooperation5.jpg" alt="img")
          p.card__desc.card__desc--history Отдание воинских почестей на "Холме Славы" <br> (г.&nbsp;Кузнецк)
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation4/cooperation6.jpg" alt="img")
          p.card__desc.card__desc--history Фотография с участниками "Вахты Памяти" на "Холме Славы" <br> (г.&nbsp;Кузнецк)
    p.text.text--justify 30 мая (г. Заречный, п. Тарханы Пензенской области)
    p.text.text--justify 1.	Участие в торжественных мероприятиях, посвященных Дню города;
    p.text.text--justify 2.	Организация церемонии возложения венков к памятнику Победы;
    p.text.text--justify.text--mb 3.	Посещение музея-заповедника М.Ю.Лермонтова «Тарханы» и выставочного комплекса научно-производственного центра «Старт».
    p.text.text--justify <b>Информационный охват Акции:</b>
    p.text.text--justify.text--mb Непосредственное участие в мероприятиях Акции приняли до 10 тыс. чел. В освещении Акции задействовано более 30 федеральных и региональных средств массовой информации, включая интернет-издания и социальные сети. Информация об Акции и её основные фрагменты доведены до 1,1 млн. жителей Пензенской области.
    .row
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation4/cooperation7.jpg" alt="img")
          p.card__desc.card__desc--history Торжественный марш по главной улице <br> (г.&nbsp;Заречный)
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation4/cooperation8.jpg" alt="img")
          p.card__desc.card__desc--history Возложение гирлянды к памятнику Победы <br> (г.&nbsp;Заречный Пензенской области)