extends ../main.layout.pug

block variables
  - var title = 'Сотрудничество'

block content
  .container 
    h1.title.title--page 14-18.04.2017 Акция «Дни образовательных организаций ФСБ&nbsp;России в Тульской области»
    h2.title Абитуриентам на заметку
    p.text.text--justify.text--mb «Пограничный десант» провёл широкомасштабную военно-патриотическую акцию в городе-герое Туле и Тульской области. Акция «Дни образовательных организаций ФСБ&nbsp;России в Тульской области» проводилась в рамках государственной программы патриотического воспитания граждан Российской Федерации. Кроме этого, она направлена на формирование позитивного имиджа ФСБ&nbsp;России, доведение информации об особенностях службы в органах безопасности, воспитание курсантов пограничных вузов в духе патриотизма и лучших традиций органов безопасности.
    .row
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation7/cooperation1.jpg" alt="img")
          p.card__desc.card__desc--history Церемония возложения цветов к памятнику Героям Великой Отечественной войны
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation7/cooperation2.jpg" alt="img")
          p.card__desc.card__desc--history В  церемонии приняли участие около двухсот учащихся специальных школ и кадетских классов
    p.text.text--justify.text--mb Стоит отметить, что акция проводилась не первый год. Представители пограничных вузов, Первого пограничного кадетского военного корпуса, Центрального пограничного музея и книжно-журнального издательства «Граница» ФСБ&nbsp;России уже побывали в Волгоградской, Белгородской, Иркутской и других областях. В этот раз творческий десант в составе более 150 человек прибыл в город-герой Тулу. Несмотря на разыгравшуюся непогоду, от желающих прийти на концерт не было отбоя. К тому же настроение поднимала музыка, доносящаяся из передвижного автомобильного клуба, которая разносилась по всей площади перед Городским концертным залом.
    .row
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation7/cooperation3.jpg" alt="img")
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation7/cooperation4.jpg" alt="img")
    p.text.text--justify.text--mb Не успевали школьники городских образовательных учреждений переступить порог концертного зала, как сразу же оказывались вовлечёнными в увлекательное действо. В фойе на первом этаже гостей встречали вокальная группа «Лада» Курганского пограничного института ФСБ&nbsp;России, вокальная группа ансамбля «Рифы» Института береговой охраны ФСБ&nbsp;России в городе Анапа, вокалисты калининградского и московского погранинститутов, а также военно-духовой оркестр ГПИ ФСБ&nbsp;России, задавая своими зажигательными композициями тон всему праздничному вечеру. Здесь же была развёрнута мобильная экспозиция Центрального пограничного музея ФСБ&nbsp;России, рассказывающая об основных вехах истории охраны передовых рубежей, о пограничниках разных времён, в том числе, Герое Российской Федерации Руслане Кокшине – уроженце Тулы, который являлся участником акции. Помимо этого гости могли ознакомиться и, что немаловажно, взять с собой информационные материалы, буклеты и другую печатную продукцию книжно-журнального издательства «Граница» ФСБ&nbsp;России.
    .row
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation7/cooperation5.jpg" alt="img")
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation7/cooperation6.jpg" alt="img")
    p.text.text--justify.text--mb А в это время на втором этаже была развернута интерактивная выставка, на которой представители образовательных организаций ФСБ&nbsp;России из разных регионов рассказывали о возможности получении среднего профессионального и высшего образования, специфике обучения в пограничных вузах и перспективах службы в органах безопасности. Пока мальчишки узнавали какие науки им стоит подтянуть, чтобы стать курсантами, о дальнейших перспективах после выпуска из того или иного института, девчонки фотографировались с богатырём в сверкающих латах, казаком в шикарной меховой шапке и бравыми спецназовцами, в роли которых выступали участники комнаты Боевой Славы курсанты Голицынского и Московского пограниститутов.
    .row
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation7/cooperation7.jpg" alt="img")
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation7/cooperation8.jpg" alt="img")
    p.text.text--justify.text--mb Также там разместился тир, где абсолютно любой, не взирая на возраст, мог проверить себя на умение метко стрелять. Концерт открыл губернатор Тульской области Алексей Дюмин. Обращаясь к собравшимся, он сказал, что в наше время, когда международный терроризм распространяется по всему миру, для нашей Родины важно, что есть такая служба, которая защищает её передовые рубежи.
    .row
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation7/cooperation9.jpg" alt="img")
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation7/cooperation10.jpg" alt="img")
    p.text.text--justify.text--mb Затем с приветственным словом выступил начальник УФСБ&nbsp;России по Тульской области генерал-майор Алексей Зиновьев. Он отметил, что сотрудники органов безопасности – профессия уважаемая, героическая и тем, кто выберет эту профессию, необходимо готовиться к ней уже сейчас.
    .row
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation7/cooperation11.jpg" alt="img")
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation7/cooperation12.jpg" alt="img")
    p.text.text--justify.text--mb Далее выступал начальник Голицынского пограничного института ФСБ&nbsp;России генерал-майор Владислав Коньшин, рассказал о системе ведомственного образования и перспективах, которые открываются перед выпускниками пограничных вузов.
    .row
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation7/cooperation13.jpg" alt="img")
          p.card__desc.card__desc--history Экспозиция Центрального пограничного музея
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation7/cooperation14.jpg" alt="img")
          p.card__desc.card__desc--history Школьники получили навыки обращения с оружием
    p.text.text--justify.text--mb Музыкальную часть концертной программы под названием «Вперёд, Россия!» открыл объединённый творческий коллектив пограничных вузов, исполнивший одноимённую композицию.
    .row
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation7/cooperation15.jpg" alt="img")
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation7/cooperation16.jpg" alt="img")
    p.text.text--justify.text--mb Концерт захватил внимание взрослых и детей с первой минуты до финального аккорда. Танцевальные и вокальные номера сменялись один за другим. Зрители увидели представителей пограничной службы всех эпох – от богатырей до современных бойцов спецподразделений, выступление группы рукопашного боя, карабинеров, продемонстрировавших строевые приёмы с оружием. Яркое и красочное выступление понравилось всем гостям. Зрители стоя провожали артистов-пограничников, прибывших к ним из разных регионов нашей страны. На следующий день творческий десант пограничных вузов выдвинулся в город Новомосковск. Новомосковцам была представлена та же концертная программа.
    .row
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation7/cooperation17.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation7/cooperation18.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation7/cooperation19.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation7/cooperation20.jpg" alt="img")
    p.text.text--justify.text--mb Покорение тульской земли продолжилось небольшими «мотоманевренными группами» за один день были проведены мини-акции в городах Алексин, Богородицк, Ефремов, Суворов и Щекино. В учреждениях культуры состоялись встречи учащихся с курсантами и офицерами пограничных институтов. Эта уникальная по формату и масштабу акция, несомненно, надолго запомнится тулякам. Её участники не только познакомили жителей региона с теми, кто охраняет передовые рубежи нашей Родины, но и подарили им массу впечатлений и эмоций, которые надолго останутся в их сердцах. И может, в скором будущем творческий десант вновь приедет в эти края. А в его составе уже будут те, кто ещё вчера смотрел этот концерт из зрительного зала.
    .row
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation7/cooperation21.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation7/cooperation22.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation7/cooperation23.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation7/cooperation24.jpg" alt="img")