extends ../main.layout.pug

block variables
  - var title = 'Сотрудничество'

block content
  .container
    h1.title.title--page 22-25.09.2016 День образовательных организаций ФСБ&nbsp;России в Иркутской области
    p.text.text--justify.text--mb Уникальная возможность принять участие в профориентационной акции «День образовательных организаций ФСБ&nbsp;России в Иркутской области» была предоставлена ангарчанам в минувшее воскресенье, 25 сентября.
    .row
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation6/cooperation1.jpg" alt="img")
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation6/cooperation2.jpg" alt="img")
    p.text.text--justify.text--mb В Ангарск прибыли 150 участников акции из пяти учебных заведений пограничного профиля, в том числе курсанты и офицеры, творческие коллективы Голицынского пограничного института ФСБ РФ. Дворец культуры «Современник» стал главной площадкой для проведения мероприятия, здесь прошли профориентационные встречи, выставка, концерт творческих коллективов Голицынского пограничного института.
    .row
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation6/cooperation3.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation6/cooperation4.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation6/cooperation5.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation6/cooperation6.jpg" alt="img")
    p.text.text--justify.text--mb «Наш город славится высоким потенциалом среднего образования, и мы все это знаем и гордимся. Именно этим обусловлен выбор нашей территории для проведения акции образовательных организаций ФСБ&nbsp;России. Хорошие кадры, подготовленные в наших школах, могут достойно выполнять задачи, которые ставятся перед структурами пограничных войск. Благодарим организаторов акции за ее проведение именно в нашем городе и предоставленную молодым ангарчанам возможность познакомиться с профессией», – отметил мэр Ангарского городского округа Сергей Петров.
    .row
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation6/cooperation7.jpg" alt="img")
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation6/cooperation8.jpg" alt="img")
    p.text.text--justify.text--mb Начальник Голицынского пограничного института ФСБ РФ генерал-майор Владислав Коньшин отметил положительный отклик населения и заинтересованность в предоставляемой информации: «Наша задача – показать, чем живут погранвойска, и как мы готовим специалистов к службе. Мы были наслышаны о той масштабной работе, которая проводится на вашей территории в рамках патриотического воспитания и профильного образования и убедились в этом лично».
    .row
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation6/cooperation9.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation6/cooperation10.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation6/cooperation11.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation6/cooperation12.jpg" alt="img")
    p.text.text--justify.text--mb В рамках акции представители делегации образовательных организаций ФСБ&nbsp;России побывали в школе №39, где с нового учебного года открыт профильный пограничный класс. Отметим, что в классе 28 воспитанников, которые будут получать специальные тематические знания. Причем, обучаются в данном профильном классе ребята не только из Ангарска, но и из Иркутска и Усолья-Сибирского.
    .row
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation6/cooperation13.jpg" alt="img")
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation6/cooperation14.jpg" alt="img")
    p.text.text--justify Быть пограничником - дело почётное, но очень опасное. Попасть в эти секретные службы может далеко не каждый. Отличная физическая форма, отменное здоровье, психологическая устойчивость — к будущим сотрудникам спецслужб предъявляют самые серьезные требования. Но и это не останавливает желающих поступить в образовательные учреждения ФСБ&nbsp;России. А чтобы более подробно ознакомить с характеристикой институтов пограничной службы и рассказать о современной службе на границе и особенностях обучения в высших образовательных учреждений ФСБ&nbsp;России, в Иркутск прибыло более 100 человек: представители Московского, Хабаровского, Курганского, Голицинского пограничных институтов, Первого пограничного кадетского корпуса, Центрального Пограничного музея ФСБ&nbsp;России, книжно-журнального издания «Граница». В городах Усолье-Сибирское, Шелехов, Черемхово, поселок Усть-Ордынский прошли запланированные встречи с курсантами и офицерами институтов в муниципальных учреждениях Усолья-Сибирского, Шелехова, Черемхово, поселка Усть-Ордынский.
    .row
      .col-sm-12
        .card.card--img.card--right
          img.card__img(src="./assets/images/cooperation/cooperation6/cooperation15.jpg" alt="img")
        p.text.text--justify.text--mb Сибирская молодёжь смогла узнать об условиях поступления в пограничные вузы ФСБ&nbsp;России, познакомиться с историей охраны государственной границы, современным вооружением и техникой. Отличительно, замечательные встречи прошли в городах Иркутске и Ангарске. В Иркутске 24 сентября в фойе музыкального театра им. Загурского была развернута интерактивная выставка, на которой представители образовательных учреждений ФСБ&nbsp;России рассказали о получении среднего профессионального и высшего образования, специфике обучения в пограничных вузах и перспективах службы в органах безопасности. Затем все желающие посмотрели выступление оркестра и ансамбля Голицынского пограничного института ФСБ&nbsp;России, демонстрацию строевых приёмов с оружием и приёмов рукопашного боя. Вечером состоялась концертная программа на сцене, развёрнутой перед Дворцом спорта «Труд», после которой зрители смогли испытать свои возможности в стрельбе по мишеням в специально оборудованном тире. В Ангарске прошла подобная военно-патриотическая акция в концертном зале ДК «Современник». Здесь, среди прибывшей любознательной молодёжи, заметно было присутствие ветеранов пограничных войск. Общительное руководство делегации уделило внимание пограничникам, принимавшим участие в боевых действиях на острове Даманском и Афганистане, среди которых в эти дни были Сергей Лобанов, Валерий Крикунов, Николай Пузырёв, Сергей Азовский, Сергей Тарасов и Сергей Гарбарчук. От областной общественной организации «Комитет пограничников» почётным гостям пограничных институтов подарена книга документальных рассказов «Пограничники Иркутской области на Советско-Китайской границе». А они в свою очередь ветеранам-пограничникам Виктору Веревкину, возглавляющему Иркутское региональное общественное движение «Военно-патриотический союз» и Владимиру Сманцеру – руководителю Центра военно-патриотического воспитания и подготовки граждан РФ к военной службе при областной общественной организации – Объединение ветеранов боевых действий ОВД Иркутской области,подарили приличный объём литературы, касающийся истории пограничных войск и характеристики пограничных институтов ФСБ&nbsp;России.
    .row
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation6/cooperation16.jpg" alt="img")
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation6/cooperation17.jpg" alt="img")
    p.text.text--justify.text--mb Хочется надеяться на то, что приезд «зелёных фуражек» не последний и подобно Волгоградской области, где акции прошли уже третий год подряд, сибиряки ещё с большим интересом отнесутся к такому нужному визиту почётных гостей.
    .row
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation6/cooperation18.jpg" alt="img")
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation6/cooperation19.jpg" alt="img")
    p.text.text--justify.text--mb В рамках военно-патриотической акции «Дни образовательных учреждений ФСБ&nbsp;России» 24 сентября состоялась церемония возложения венка-гирлянды к мемориальному комплексу «Вечный огонь» и цветов к памятнику дважды Героя Советского Союза генерал-лейтенанта Афанасия Белобородова. В ней приняли участие губернатор Сергей Левченко, начальник Голицынского пограничного института ФСБ&nbsp;России генерал-майор Владислав Коньшин, начальник Пограничного Управления ФСБ&nbsp;России по Республике Бурятия генерал-майор Валерий Резниченко, Врио начальника Управления ФСБ&nbsp;России по Иркутской области полковник Игорь Кузнецов, начальник КПП «Байкал» Пограничного Управления ФСБ&nbsp;России по Республике Бурятия подполковник Дмитрий Лоскутов. "В этом году Иркутская область впервые присоединилась к акции «Дни образовательных учреждений ФСБ&nbsp;России». Несколько тысяч юных представителей региона узнают о том, что такое служба в пограничных войсках. Именно на границе приобретаются настоящие человеческие качества, профессионализм, закаляется характер. Уверен, многие ребята сделают правильный выбор", - заявил С. Левченко. В этот же день в фойе музыкального театра им. Загурского была развернута интерактивная выставка, на которой представители образовательных учреждений ФСБ&nbsp;России рассказали о получении среднего профессионального и высшего образования, специфике обучения в пограничных вузах и перспективах службы в органах безопасности. Затем на сцене музыкального театра состоялось выступление оркестра и ансамбля Голицынского пограничного института ФСБ&nbsp;России. А вечером концертная программа, демонстрация строевых приемов с оружием и приемов рукопашного боя состоялись на площадке перед Дворцом спорта «Труд».
