extends ../main.layout.pug

block variables
  - var title = 'Сотрудничество'

block content
  .container 
    h1.title.title--page 11-13.06.2016 - военно-патриотическая акция «Дни образовательных организаций ФСБ&nbsp;России в Волгоградской области»
    h2.title Работа на перспективу
    p.text.text--justify.text--mb <b>Голицынский «десант» провёл широкомасштабную военно-патриотическую акцию в г.Волгограде и Волгоградской области.</b> Военно-патриотическая акция «Дни образовательных организаций ФСБ&nbsp;России в Волгоградской области», с участием 7 образовательных организаций ФСБ&nbsp;России пограничного профиля, а это более 140 человек, торжественно прошла с 11 по 13 июня в городах Волгограде и Волжском. На волгоградской земле Акция заинтересовала не только воспитанников военно-патриотических клубов и кадетских классов, но и учащихся выпускных классов средних общеобразовательных школ, стоящих перед выбором своего профессионального пути. В киноконцертном зале «Октябрь» г. Волжский собрались более 500 учащихся школ и местных жителей.
    .row
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation5/cooperation1.jpg" alt="img")
          p.card__desc.card__desc--history Представители органов безопасности всех эпох
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation5/cooperation2.jpg" alt="img")
          p.card__desc.card__desc--history Выставка современного оружия пограничных подразделений
    p.text.text--justify.text--mb Перед началом мероприятия ребята пообщались с представителями пограничных вузов, познакомились с образцами вооружения и специальных технических средств, а также с современным воинским обмундированием. Кроме того, всем желающим была предоставлена возможность пострелять в лазерном и страйкбольном тирах. На видеомониторах демонстрировались видеофильмы и фотопрезентация об образовательных организациях и службе в органах безопасности.
    .row
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation5/cooperation3.jpg" alt="img")
          p.card__desc.card__desc--history Обращение к участникам Акции генерал-лейтенанта Гулевского&nbsp;А.Н., начальника УФСБ&nbsp;РФ по Волгоградской области
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation5/cooperation4.jpg" alt="img")
          p.card__desc.card__desc--history Начальник ГПИ&nbsp;ФСБ&nbsp;России генерал-майор Коньшин&nbsp;В.А. представляет образовательные организации ведомства
    p.text.text--justify.text--mb Для всех присутствующих состоялся концерт с участием вокального ансамбля «Честь имею!», военно-духового оркестра, курсантского хора, гиревиков, группы демонстрации строевых приёмов с оружием и группы рукопашного боя.
    .row
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation5/cooperation5.jpg" alt="img")
          p.card__desc.card__desc--history Композиция "Вперед Россия!" - кульминация концертной программы
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation5/cooperation6.jpg" alt="img")
          p.card__desc.card__desc--history Вокально-хореографическая композиция "Казачья"
    p.text.text--justify.text--mb Затем все участники акции, представители городской администрации, молодёжи и ветеранов города выдвинулись торжественным шествием к мемориальному комплексу «Защитникам Сталинграда» для возложения венков. Жителей города Волжский вечером ждала концертная программа «Вперёд, Россия!» вокально-хореографического ансамбля «Честь имею!», которая своим масштабом и содержанием захватила внимание зрителей.
    .row
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation5/cooperation7.jpg" alt="img")
          p.card__desc.card__desc--history Выступление перед жителями г.&nbsp;Волжский
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation5/cooperation8.jpg" alt="img")
          p.card__desc.card__desc--history Перед волгоградцами курсанты-голицынцы
    h2.title Профориентация в действии
    p.text.text--justify.text--mb Утром 12 июня состоялась церемония возложения цветов к памятнику «Воинам-чекистам» в г. Волгограде. В годы Великой Отечественной войны 10-ая стрелковая дивизия НКВД первой встала на защиту Сталинграда, с честью выдержав это труднейшие испытание, мужественно и самоотверженно сражаясь с превосходящими силами врага до подхода частей и соединений 62-й армии.
    .row
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation5/cooperation9.jpg" alt="img")
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation5/cooperation10.jpg" alt="img")
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation5/cooperation11.jpg" alt="img")
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation5/cooperation12.jpg" alt="img")
    p.text.text--justify.text--mb Чуть позднее в Центральном концертном зале областной филармонии была развернута выставка вооружения, техники и специального оборудования. Представители образовательных организаций ФСБ&nbsp;России рассказали молодежи о специфике обучения в ведомственных вузах и перспективах службы, старшеклассники получили самую полную информацию об образовательных организациях пограничного профиля. Губернатор Волгоградской области Герой России Андрей Бочаров в своем выступлении отметил: «Наши пограничники несут боевую службу прекрасно понимая, что за их спиной находится Родина. И они должны сделать все, чтобы никто не помешал нам созидать».
    .row
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation5/cooperation13.jpg" alt="img")
          p.card__desc.card__desc--history Пресс-конференция Губернатора Волгоградской области Героя России Бочарова&nbsp;А.И. и организаторов Акции
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation5/cooperation14.jpg" alt="img")
          p.card__desc.card__desc--history Экспозиция Первого пограничного военного кадетского корпуса ФСБ&nbsp;России
    p.text.text--justify.text--mb Вечером того же дня на главной сцене города — Набережной 62-й армии, прошёл праздничный концерт, в котором также принял участие творческий коллектив ГПИ ФСБ&nbsp;России.
    .row
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation5/cooperation15.jpg" alt="img")
          p.card__desc.card__desc--history Зрители концерта ко Дню России на набережной Волги
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation5/cooperation16.jpg" alt="img")
          p.card__desc.card__desc--history На сцене вокально-хореографический ансамбль "Честь имею!"
    h2.title Чтобы помнили
    p.text.text--justify.text--mb 13 июня состоялось одно из центральных мероприятий — перезахоронение красноармейца-пограничника Красикова Липата Владимировича. В 2015 году участники акции «Вахты Памяти» в местах ожесточённых боёв нашли его захоронение. «Вместе с нехитрым скарбом воина Красной Армии поисковики обнаружили и смертный медальон с уставной запиской, которая помогла установить его личность», — пояснил Денис Соловьев, председатель Волгоградской региональной поисковой организации «Наследие». Поисковикам удалось найти родственников солдата в далеком Владивостоке. С их согласия останки бойца было решено предать земле на Россошинском военно-мемориальном кладбище. Здесь же состоялось и отпевание. В перезахоронении приняли участие начальники территориальных ведомственных и пограничных управлений по Волгоградской области и глава города Волгограда А. Косолапов. Участие в церемонии курсантов — будущих пограничников, а также действующих сотрудников органов безопасности носит особый смысл. Ведь рядовой Красиков сражался в 10-й стрелковой дивизии НКВД. Потому не случайно, что именно правопреемники чекистов отдали последние почести герою.
    .row
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation5/cooperation17.jpg" alt="img")
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation5/cooperation18.jpg" alt="img")
    p.text.text--justify.text--mb «Мы будем участвовать в подобных мероприятиях, потому, что это память и это одновременно будущее. Мы воспитываем на таких воинских церемониях наших курсантов», — отметил начальник Голицынского пограничного института ФСБ&nbsp;России генерал-майор Владислав Коньшин.
    .row
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation5/cooperation19.jpg" alt="img")
          p.card__desc.card__desc--history Ритуал возложения венка к памятнику "Скорбящая мать"
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation5/cooperation20.jpg" alt="img")
          p.card__desc.card__desc--history Экскурсия участников Акции на Мамаевом Кургане
    p.text.text--justify.text--mb Останки красноармейца были преданы земле со всеми воинскими почестями, оружейными залпами и исполнением гимна России. Участники церемонии возложили венки и цветы, почтили память всех павших солдат минутой молчания. Теперь именной медальон с уставной запиской красноармейца Липата Красикова будут храниться в музее Пограничного управления ФСБ&nbsp;России по Волгоградской области. Восстановлено имя ещё одного героя, на подвиг которого нужно равняться будущим пограничникам.
    .row
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation5/cooperation21.jpg" alt="img")
          p.card__desc.card__desc--history В зале Воинской Славы на Мамаевом Кургане
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation5/cooperation22.jpg" alt="img")
          p.card__desc.card__desc--history Курсанты-голицынцы в музее Сталинградской битвы
    p.text.text--justify.text--mb Кульминацией военно-патриотических мероприятий стало посещение всеми участниками акции центральных музейных комплексов Волгограда — Мамаева Кургана и музея-панорамы Сталинградской битвы.
    p.text.text--justify.text--mb Андрей Пьянков