extends ../main.layout.pug

block variables
  - var title = 'Сотрудничество'

block content
  .container 
    h1.title.title--page 21-26.10.2019 День образовательных организаций ФСБ&nbsp;России в Рязанской области
    h2.title.text--mb Работа мобильных агитационных групп
    .row.text--mb
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation10/cooperation1.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation10/cooperation2.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation10/cooperation3.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation10/cooperation4.jpg" alt="img")
    .row.text--mb
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation10/cooperation5.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation10/cooperation6.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation10/cooperation7.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation10/cooperation8.jpg" alt="img")
    h2.title.text--mb Мемориальные мероприятия в Рязанской области
    .row.text--mb
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation10/cooperation9.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation10/cooperation10.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation10/cooperation11.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation10/cooperation12.jpg" alt="img")
    .row.text--mb
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation10/cooperation13.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation10/cooperation14.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation10/cooperation15.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation10/cooperation16.jpg" alt="img")
    h2.title.text--mb Концертная программа.
    .row
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation10/cooperation17.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation10/cooperation18.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation10/cooperation19.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation10/cooperation20.jpg" alt="img")
    