extends ../main.layout.pug

block variables
  - var title = 'Сотрудничество'

block content
  .container
    h1.title.title--page Информация о партнёрских связях, совместных проектах и соглашениях, проведённых мероприятиях и конкретных результатах сотрудничества на межведомственном и межгосударственном уровне
    p.text.text--justify.text--mb В рамках реализации государственной программы патриотического воспитания граждан Российской Федерации учебные заведения ФСБ&nbsp;России проводят масштабные патриотические акции с выездом в регионы страны. Подобного рода мероприятия вызывают у молодёжи позитивные эмоции, интерес, способствуют решению задач по профориентации и укреплению престижа образовательных организаций ФСБ&nbsp;России.
    .row
      .col-sm-12
        a(href="cooperation10.html").card.card--link
          p.text.text--link 21-26.10.2019 военно-патриотическая акция «Дни образовательных организаций ФСБ&nbsp;России в Рязанской области»
          p.text Масштабная военно-патриотическая акция «Дни образовательных организаций ФСБ&nbsp;России в Рязанской области», с участием 6 образовательных организаций ФСБ&nbsp;России пограничного профиля, Центрального Пограничного ансамбля и Центрального пограничного музея ФСБ&nbsp;России.
      .col-sm-12
        a(href="cooperation9.html").card.card--link
          p.text.text--link 09-13.10.2018 военно-патриотическая акция «Дни образовательных организаций ФСБ&nbsp;России в Тверской области»
          p.text Масштабная военно-патриотическая акция «Дни образовательных организаций ФСБ&nbsp;России в Тверской области», с участием 6 образовательных организаций ФСБ&nbsp;России пограничного профиля, а это более 140 человек, торжественно прошла с 9 по 13 октября в г. Тверь и 6 городах Тверской области.
      .col-sm-12
        a(href="cooperation8.html").card.card--link
          p.text.text--link 04-08.10.2017 Пограничники на Ростовской земле
          p.text Сотрудники и курсанты образовательных организаций ФСБ&nbsp;России провели широкомасштабную военно-патриотическую акцию в Ростовской области.
      .col-sm-12
        a(href="cooperation7.html").card.card--link
          p.text.text--link 14-18.04.2017 Акция «Дни образовательных организаций ФСБ&nbsp;России в Тульской области»
          p.text «Пограничный десант» провёл широкомасштабную военно-патриотическую акцию в городе-герое Туле и Тульской области
      .col-sm-12
        a(href="cooperation6.html").card.card--link
          p.text.text--link 22-25.09.2016 День образовательных организаций ФСБ&nbsp;России в Иркутской области
          p.text Уникальная возможность принять участие в профориентационной акции «День образовательных организаций ФСБ&nbsp;России в Иркутской области» была предоставлена ангарчанам.
      .col-sm-12
        a(href="cooperation5.html").card.card--link
          p.text.text--link 11-13.06.2016 - военно-патриотическая акция «Дни образовательных организаций ФСБ&nbsp;России в Волгоградской области»
          p.text С участием 7 образовательных организаций ФСБ&nbsp;России пограничного профиля, а это более 140 человек, торжественно прошла с 11 по 13 июня в городах Волгограде и Волжском....
      .col-sm-12
        a(href="cooperation4.html").card.card--link
          p.text.text--link 28-30.05.2015 - военно-патриотическая акция в Пензенской области
          p.text В целях реализации государственной программы «Патриотическое воспитание граждан Российской Федерации на 2011 – 2015 годы», утвержденной постановлением Правительства Российской Федерации от 05.10.2010 № 795 была ппроведена военно-патриотическая акция «Дни учебных заведений ФСБ&nbsp;России» в Пензенской области, с участием сотрудников и курсантов Голицынского пограничного института, Управления ФСБ&nbsp;России по Пензенской области, Пограничного управления ФСБ&nbsp;России по Саратовской и Самарской областям.
      .col-sm-12
        a(href="cooperation3.html").card.card--link
          p.text.text--link 25-27.09.2014 - военно-патриотическая акция в г. Санкт-Петербурге и Ленинградской области
          p.text Военно-патриотическая акция «Дни учебных заведений ФСБ&nbsp;России в г. Санкт-Петербурге и Ленинградской области», с участием сотрудников и курсантов Голицынского пограничного института, торжественно прошла с 25 по 27 сентября в краях северной столицы. Главная задача акции это вызвать у молодёжи прилив патриотических чувств, привлечь её внимание к службе в пограничных органах ФСБ&nbsp;России.
      .col-sm-12
        a(href="cooperation2.html").card.card--link
          p.text.text--link 12-14.06.2014 - военно-патриотическая акция в Брянской области
          p.text «Память славных традиций храня, продолжает истории путь пограничный родной институт», - эти строки из марша «голицынцев» несколько дней звучали в Брянской области. Здесь проходила военно-патриотическая акция «Дни Голицынского пограничного института ФСБ&nbsp;России на Брянской земле», с участием сотрудников и курсантов института, призванная вызвать у молодёжи прилив патриотических чувств, привлечь её внимание к службе в пограничных органах ФСБ&nbsp;России.
      .col-sm-12
        a(href="cooperation1.html").card.card--link
          p.text.text--link 25-26.09.2013 - военно-патриотическая акция в Белгородской области
          p.text Военно-патриотическая акция «Дни Голицынского пограничного института ФСБ&nbsp;России в Белгородской области» проходила с участием сотрудников и курсантов института, призванная вызвать у молодёжи прилив патриотических чувств, привлечь её внимание к службе в пограничных органах ФСБ&nbsp;России








