extends ../main.layout.pug

block variables
  - var title = 'Сотрудничество'

block content
  .container 
    h1.title.title--page 09-13.10.2018 День образовательных организаций ФСБ&nbsp;России в Тверской области
    .row.text--mb
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation9/cooperation1.jpg" alt="img")
          p.card__desc.card__desc--history Выступление заместителя губернатора Тверской области Белоцерковского&nbsp;А.В.
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation9/cooperation2.jpg" alt="img")
          p.card__desc.card__desc--history Выступление начальника УФСБ&nbsp;России по Тверской области генерал-майора Буряченко&nbsp;С.П.
    h2.title.text--mb Работа мобильных агитационных групп в районных центрах Тверской области
    .row.text--mb
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation9/cooperation3.jpg" alt="img")
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation9/cooperation4.jpg" alt="img")
    h2.title.text--mb Мемориальные мероприятия в Тверской области
    .row.text--mb
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation9/cooperation5.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation9/cooperation6.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation9/cooperation7.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation9/cooperation8.jpg" alt="img")
    h2.title.text--mb Концертная программа «Вперед, Россия!»
    .row
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation9/cooperation9.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation9/cooperation10.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation9/cooperation11.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/cooperation/cooperation9/cooperation12.jpg" alt="img")
    