extends ../main.layout.pug

block variables
  - var title = 'Культурно-досуговая работа'

block content
  .container 
    h1.title.title--page Культурно-досуговая работа 
    p.text.text--justify.text--mb Одной из главных задач культурно-досуговой работы является создание атмосферы, в которой формируется не только высококлассный профессионал, обладающий специальными знаниями и навыками, дисциплинированный сотрудник, но и настоящий патриот своего Отечества, человек, хорошо знающий историю своей страны и гордящийся принадлежностью к пограничному братству, высококультурная и творчески увлечённая личность. В Институте великолепный архитектурно-ландшафтный ансамбль, отличающийся строгой красотой. Здесь созданы все условия для организации культурно-досуговой работы. В клубе есть большой и малый залы, оформленное фойе, богатая экспонатами Комната боевой славы, художественная библиотека, книжный фонд которой насчитывает более 28 тысяч экземпляров, кафе «Русь» и бильярдный клуб «Карамболь», имеются репетиционные и костюмерные.
    .row
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/culture/culture1.jpg" alt="img")
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/culture/culture2.jpg" alt="img")
    p.text.text--justify.text--mb В стенах пограничного вуза созданы благоприятные условия для всестороннего раскрытия талантов, развития способностей, большое внимание уделяется эстетическому воспитанию и обеспечению культурного досуга курсантов. В Институте постоянно функционируют различные самодеятельные коллективы, регулярно проводятся мероприятия в рамках смотра-конкурса самодеятельного творчества среди курсантов и сотрудников института, проводятся встречи команд КВН. Кроме того, налажены творческие связи со средними и высшими учебными заведениями, различными учреждениями культуры и профессиональными творческими коллективами Москвы и Подмосковья. В 1995 году в Институте был создан и поныне успешно действует вокальный ансамбль «Честь имею!». Также в стенах вуза функционирует вокально-инструментальный ансамбль «Юность границы». Участники находят доброжелательный отклик в сердцах своих слушателей, выступая не только в стенах своей альма-матер, но и на различных концертных площадках Москвы, Подмосковья и других регионов России. Впрочем, не только этими двумя самодеятельными коллективами богата культурная жизнь Института. Например, его военно-духовой оркестр — непременный участник всех концертных мероприятий. Сегодня в его репертуаре: марши, пограничные песни, вальсы, популярные мелодии и классические произведения для духовых инструментов.
    .row
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/culture/culture3.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/culture/culture4.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/culture/culture5.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/culture/culture6.jpg" alt="img")
    p.text.text--justify.text--mb Каждые два года в Институте проводится Фестиваль пограничной песни, в котором принимают участие творчиские коллективы и авторы исполнители - победители смотров конкурсов пограничных органов, силовых структур и ведомств Российской Федерации и ближнего зарубежья.
    .row
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/culture/culture7.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/culture/culture8.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/culture/culture9.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/culture/culture10.jpg" alt="img")
    p.text.text--justify.text--mb Пограничнику необходимо быть не только превосходным профессионалом и смелым человеком, но и знать наше культурное наследия и традиции. Вот почему курсанты-голицынцы, начиная с первого курса, обязательно посещают Государственную Третьяковскую галерею, Галерею народного художника СССР А.М. Шилова, музеи Московского Кремля, Москвы и Подмосковья, концертные залы и театры столицы, участвуют в походах и экскурсиях по местам ратной славы. А ещё будущие лейтенанты постоянно задействованы в мероприятиях, посвящённых памятным датам и Дням воинской славы, знакомятся с пушкинскими местами, с усадебной культурой подмосковных имений, собраниями коллекций произведений искусства. Для курсантов по соглашению с руководством Московской областной филармонии в рамках университета культуры ежемесячно проводятся вечера классической инструментальной музыки, лекции-концерты, когда исполнение музыкального произведения сопровождается краткой информацией об истории его создания и об инструментах, на которых музыканты эти произведения исполняют. Экспозиция комнаты боевой славы Института содержит информацию об историческом пути вуза с момента его образования до наших дней. Ежегодно с музейными экспонатами знакомятся более 3000 человек.
    .row
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/culture/culture11.jpg" alt="img")
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/culture/culture12.jpg" alt="img")
    p.text.text--justify.text--mb Каждый год пограничный вуз посещают и известные люди: поэты и художники, актёры и спортсмены... Так, гостями Института были прославленные коллективы мирового уровня — Государственный академический хореографический ансамбль «Берёзка» имени Н. Надеждиной, Дважды Краснознамённый академический ансамбль песни и пляски Российской армии имени А.В. Александрова, оркестры русских народных инструментов «Садко», «Гусляры России» и вокально-интрументальный «Песняры». Приобщиться к духовным ценностям и культуре курсантам помогают сотрудники в художественной библиотеки, где проводятся героико-патриотические чтения, посвящённые Дням воинской славы, литературно-музыкальные вечера, встречи с ветеранами Великой Отечественной войны, участниками локальных войн и военных конфликтов. Выпускники Института служат в разных уголках необъятной Родины и по многочисленным отзывам их командиров и сослуживцев везде пропагандируют те моральные ценности и культурные ориентиры, которые заложили в них здесь, в Голицыно. На всех факультетах сформированы группы фото- и видеооператоров из числа курсантов для создания хроники жизни учебных подразделений и регулярной демонстрации её в виде киножурналов перед воскресными киносеансами.
    .row
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/culture/culture13.jpg" alt="img")
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/culture/culture14.jpg" alt="img")