extends ../main.layout.pug

block variables
  - var title = 'Руководство'

block content
  .container
    h1.title.title--page Начальник Института 
    .card.card--img
      img.card__img.card__img--director(src="./assets/images/director/ni.jpg" alt="img")
      p.card__desc генерал-майор Щеблыкин Виктор Николаевич, доктор экономических наук, профессор. <br> Начальник Голицынского пограничного института Федеральной службы безопасности Российской Федерации с 2019 года.
    h1.title.title--page Начальник филиала Института (г.&nbsp;Ставрополь)
    .card.card--img
      img.card__img.card__img--director(src="./assets/images/director/nf.jpg" alt="img")
      p.card__desc полковник Кунаковский Анатолий Иванович. <br> Начальник филиала Голицынского пограничного института Федеральной службы безопасности Российской Федерации с&nbsp;2008 года.