extends ../main.layout.pug

block variables
  - var title = 'Образовательный процесс'

block content
  .container 
    h1.title.title--page Образовательный процесс (г.&nbsp;Голицыно) 
    p.text.text--justify.text--mb Голицынский пограничный институт ФСБ&nbsp;России осуществляет подготовку кадров на основании лицензии и свидетельства на осуществление образовательной деятельности, полученных по результатам комплексной оценки вуза комиссией Министерства образования и науки РФ (Лицензия на осуществление образовательной деятельности от 17.08.2015 №1598; свидетельство о государственной аккредитации от 18.10.2017 №2685). Свой богатый служебный и боевой опыт передают курсантам и слушателям Института преподаватели и офицеры кафедр и факультетов. Более 60% профессорско-преподавательского состава Института имеют ученые степени и звания. Для обеспечения подготовки курсантов и слушателей по специальностям в соответствии с учебными планами, программами и методиками обучения, а также для выполнения научных исследований и подготовки научно-педагогических кадров Институт располагает современной учебной материально-технической базой. Имеющиеся в Институте учебные лектории, компьютерные классы, кабинеты языковой подготовки и специализированные классы позволяют проводить все виды учебных занятий с использованием современных технических средств обучения по всему спектру преподаваемых дисциплин.
    .row
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/education/education1.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/education/education2.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/education/education3.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/education/education4.jpg" alt="img")
    p.text.text--justify.text--mb Каждая учебная группа имеет закрепленную аудиторию, оснащенную необходимым оборудованием. Институт имеет собственную полиграфическую базу, позволяющую выпускать учебную, методическую и научную литературу. Общий фонд учебно-научной и художественной библиотеки насчитывает свыше 220 тысяч экземпляров литературы. В тренажерных классах курсанты отрабатывают навыки управления автомобилем и прицеливания из штатного оружия, которые затем совершенствуют на автодроме и в стрелковом тире Института. Значительную часть учебного времени курсанты проводят на тактических и учебных полях, специализированных городках, стрельбище, овладевая методами применения вооружения, военной и специальной техники, руководства действиями подразделений в различных формах оперативно-служебной деятельности, организации и обеспечения боя. В ходе практик,ежегодно проводимых в подразделениях пограничных органов, курсанты приобретают и совершенствуют практические навыки в выполнении обязанностей по будущему должностному предназначению. 
    .row
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/education/education5.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/education/education6.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/education/education7.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/education/education8.jpg" alt="img")
    p.text.text--justify.text--mb В Институте функционирует научное общество курсантов. Под руководством ведущих преподавателей Института курсанты занимаются в научных кружках. С ними проводятся занятия по организации научной деятельности и выполнению различных видов научно-исследовательских работ. Курсанты – члены научных кружков участвуют в конкурсе на лучшие научно-исследовательские работы, в научно-организационных мероприятиях (конференции, семинары, «круглые столы»), проводимых в образовательных организациях ФСБ&nbsp;России и взаимодействующих вузах г. Москвы и Московской области. Лучшие курсанты поощряются стипендиями Президента Российской Федерации, Правительства Российской Федерации, именной стипендией имени Ю.В. Андропова.
    .row
      .col-sm-6
        .card.card--img.card--last
          img.card__img(src="./assets/images/education/education9.jpg" alt="img")
      .col-sm-6
        .card.card--img.card--last
          img.card__img(src="./assets/images/education/education10.jpg" alt="img")
    h1.title.title--page Филиал Института (г.&nbsp;Ставрополь)
    p.text.text--justify Филиал Института начал образовательную деятельность по подготовке военнослужащих категории «прапорщик» для подразделений пограничных органов по очной форме обучения в 2008 году. В филиале Института ведется подготовка по программам среднего профессионального образования по специальностям:
    p.text.text--justify &#8209; Пограничная деятельность, квалификация – специалист пограничной службы (срок обучения 1 год 10 месяцев);
    p.text.text--justify &#8209; Обеспечение информационной безопасности телекоммуникационных систем, квалификация – техник по защите информации (срок обучения 2 года 10 месяцев).
    p.text.text--justify Для обеспечения образовательного процесса в филиале Института имеется современный комплекс объектов, обеспечивающих размещение, питание и обучение переменного состава:
    p.text.text--justify &#8209; казарма (с трехместными комнатами, оснащенными санузлами, а также с помещениями для психологической разгрузки и общения);
    p.text.text--justify &#8209; столовая;
    p.text.text--justify &#8209; спортивно-оздоровительный комплекс с бассейном;
    p.text.text--justify &#8209; автодром;
    p.text.text--justify.text--mb &#8209; полигоны (учебные и имитационные).
    .row
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/education/education11.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/education/education12.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/education/education13.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/education/education14.jpg" alt="img")
    p.text.text--justify.text--mb Имеющиеся лектории, дисплейные классы, кабинеты языковой подготовки, а также специализированные классы позволяют проводить все виды учебных занятий с использованием современных технических средств и инновационных методов обучения. В специализированных классах, оборудованных тренажерами, курсанты приобретают опыт работы с различными видами вооружения, средствами связи, военной и специальной техники. Полученные умения и практический опыт совершенствуются в ходе практических занятий на действующих средствах связи, образцах вооружения и специальной техники с возможностью моделирования различных ситуаций на полигоне для отработки навыков оперативно-служебной деятельности в соответствии с профилем подготовки. На стрельбищах курсанты выполняют упражнения учебных стрельб практически из всех видов вооружения.
    .row
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/education/education15.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/education/education16.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/education/education17.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/education/education18.jpg" alt="img")
    p.text.text--justify.text--mb Для проведения самостоятельной работы за каждой учебной группой закреплена аудитория, оснащенная необходимым оборудованием. Профессорско-преподавательский состав филиала Института имеет богатый опыт оперативно-служебной деятельности, из них более 35% имеют ученые степени и ученые звания, более 50% – являются ветеранами боевых действий. Большое внимание в филиале Института уделяется научной деятельности, чему во многом способствует имеющаяся учебная материально-техническая база. Результаты научной деятельности регулярно публикуются и докладываются на межвузовских конференциях, совещаниях и круглых столах.
    .row
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/education/education19.jpg" alt="img")
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/education/education20.jpg" alt="img")
    p.text.text--justify.text--mb Важнейшим качеством сотрудника органов безопасности является его отличная физическая подготовка. Филиал Института располагает хорошей спортивной базой (спортивный комплекс с бассейном, два спортивных городка, тир, футбольное поле, скалодром и специализированные полосы препятствий). Сборные команды филиала Института принимают участие в соревнованиях, занимают призовые места в спортивных состязаниях, проводимых Ставропольской региональной организацией общества «Динамо» и учебными заведениями Ставропольского края.
    .row
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/education/education21.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/education/education22.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/education/education23.jpg" alt="img")
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/education/education24.jpg" alt="img")
    p.text.text--justify Деятельность филиала Института направлена не только на обучение профессиональным качествам, но и на формирование разносторонне развитой личности. Организуются культурно-досуговые мероприятия (экскурсии личного состава; посещения спектаклей в театрах города Ставрополя; коллективные выходы на концерты, в музеи; встречи с писателями и поэтами, священнослужителями; смотры художественной самодеятельности курсантов). 
    p.text.text--justify Курсанты, зачисленные на обучение в филиал Института, находятся на полном государственном обеспечении.
    p.text.text--justify На выпускников в полной мере распространяются льготы и гарантии, предусмотренные для военнослужащих Российской Федерации:
    p.text.text--justify &#8209; квалифицированное медицинское обеспечение;
    p.text.text--justify &#8209; cанаторно-курортное обеспечение;
    p.text.text--justify &#8209; обеспечение жилыми помещениями в соответствии с Федеральным Законом "О накопительно – ипотечной системе жилищного обеспечения военнослужащих";
    p.text.text--justify &#8209; ежегодные отпуска и достойное денежное довольствие.
    p.text.text--justify.text--mb Сегодня в стенах филиала Института растут и мужают будущие защитники Отечества. Наши выпускники достойно выполняют задачи по осуществлению пограничной деятельности в различных физико-географических условиях: от берегов Балтики до Курильских островов, в степях Забайкалья и горах Кавказа, на Дальнем Востоке и Крайнем Севере. Они уверенно несут звание "выпускника - голицынца", следуя девизу: "Верность долгу, преданность Отчизне".
    .row
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/education/education25.jpg" alt="img")
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/education/education26.jpg" alt="img")
    