extends ../main.layout.pug

block variables
  - var title = 'Аллея Славы'

block content
  .container 
    h1.title.title--page Аллея Славы 
    .row.text--mb
      .col-sm-6.col-md-2
        .card.card--img
          img.card__img(src="./assets/images/history/heroes/h1.jpg" alt="img")
      .col-sm-6.col-md-10
        span.title.title--heroes Герой Советского Союза
        h2.title Иван Андреевич Анкудинов
        p.text.text--justify Родился 14 сентября 1906 года в селе Липяги Мордовские Волжского района Самарской области. Участник Великой Отечественной войны с 7 июля 1941 года, сражался на Западном фронте в составе 18-го погранотряда. Командир 1157-го стрелкового полка 351-й стрелковой дивизии 18-й армии 4-го Украинского фронта, отличился в боях в Закарпатье. Его полк с 26 октября по 30 ноября 1944 года участвовал в освобождении городов Мукачево, Ужгород (Закарпатская область), форсировал водные преграды и штурмом овладел населенными пунктами Стретава, Палин и др. Полком было уничтожено и взято в плен большое количество солдат и офицеров противника. 30 ноября 1944 года погиб в бою на подступах к г. Требишов (Чехословакия). Звание Героя Советского Союза присвоено 24 марта 1945 года посмертно. Награжден орденами Ленина, Красного Знамени, Суворова 3-й степени, Отечественной войны 1-й степени, тремя орденами Красной Звезды, медалями.
    .row.text--mb
      .col-sm-6.col-md-2
        .card.card--img
          img.card__img(src="./assets/images/history/heroes/h2.jpg" alt="img")
      .col-sm-6.col-md-10
        span.title.title--heroes Герой Советского Союза
        h2.title Юрий Васильевич Бабанский
        p.text.text--justify Родился 20 декабря 1948 года в городе Кемерово. После окончания девяти классов поступил в Кемеровское городское профтехучилище № 3. Проходил службу в подразделениях, непосредственно охраняющих государственную границу. Входил в состав команды пограничного отряда по пулевой стрельбе. Участвовал в боевых действиях на о. Даманский на советско-китайской границе. После гибели начальника пограничной заставы младший сержант Бабанский Ю.В. возглавил группу пограничников и лично руководил боем по ликвидации вторгнувшихся на о. Даманский нарушителей. Группе Ю. Бабанского удалось отбить несколько атак. В 1985 году был командирован в Демократическую Республику Афганистан. Звание Героя Советского Союза присвоено 21 марта 1969 года. Награжден орденом Ленина и медалью «Золотая Звезда», орденом «Знак Почета». Один из первых кавалеров знака Центрального Комитета ВЛКСМ «Воинская доблесть» и нагрудного знака «Отличник погранвойск» 1-й степени.
    .row.text--mb
      .col-sm-6.col-md-2
        .card.card--img
          img.card__img(src="./assets/images/history/heroes/h3.jpg" alt="img")
      .col-sm-6.col-md-10
        span.title.title--heroes Герой Советского Союза
        h2.title Николай Александрович Беляков
        p.text.text--justify Родился 8 апреля 1908 года в деревне Пронинская Красноборского района Архангельской области. В боях с немецко-фашистскими захватчиками Беляков участвовал в составе частей морской пехоты на Черном море. С 1942 года Н.А. Беляков – начальник штаба 8-го отдельного стрелкового батальона Потийской военно-морской базы, затем – 325-го батальона морской пехоты. С октября 1943 года командовал 386-м отдельным батальоном морской пехоты, отличившимся во многих боях. Звание Героя Советского Союза присвоено 17 ноября 1943 года. Награжден орденом Ленина и медалью «Золотая Звезда», орденами Красного Знамени (дважды), Красной Звезды, Отечественной войны 1-й степени и многими медалями.
    .row.text--mb
      .col-sm-6.col-md-2
        .card.card--img
          img.card__img(src="./assets/images/history/heroes/h4.jpg" alt="img")
      .col-sm-6.col-md-10
        span.title.title--heroes Герой Советского Союза
        h2.title Сергей Александрович Блинников
        p.text.text--justify Родился 20 декабря 1907 года в городе Старая Русса Новгородской области. Командир 107-го Келецкого ордена Красной Звезды отдельного моторизованного штурмового инженерно-саперного батальона 23-й Перекопской Краснознаменной ордена Суворова моторизованной штурмовой инженерно-саперной бригады 13-й армии  1-го Украинского фронта майор Блинников С.А. в конце января 1945 года в числе первых форсировал Одер южнее г. Штейнау (Польша) и обеспечил переправу по льду стрелковым частям и подразделениям. Был ранен, но поле боя не покинул. Звание Героя Советского Союза присвоено 10 апреля 1945 года. Награжден 2 орденами Ленина, 2 орденами Красного Знамени, 2 орденами Отечественной войны 1-й степени, 3 орденами Красной Звезды, медалями.
    .row.text--mb
      .col-sm-6.col-md-2
        .card.card--img
          img.card__img(src="./assets/images/history/heroes/h5.jpg" alt="img")
      .col-sm-6.col-md-10
        span.title.title--heroes Герой Советского Союза
        h2.title Семен Григорьевич Жогов
        p.text.text--justify Родился 17 ноября 1923 года в селе Троицкое Новохоперского района Воронежской области. Участник Великой Отечественной войны с октября 1942 года. Разведчик, комсорг сводного кавалерийского эскадрона 354-й Калинковичской ордена Ленина Краснознаменной ордена Суворова стрелковой дивизии 105-го Краснознаменного стрелкового корпуса 65-й армии 2-го Белорусского фронта ефрейтор Жогов С.Г. в ночь на 20 апреля 1945 года в группе разведчиков преодолел р. Вест-Одер в районе населенного пункта Нидерцаден (5 км южнее г. Щецин, Польша) и уничтожил вражеский пулеметный расчет. Определил удобное для высадки десанта место. Вместе с бойцами отбил несколько контратак противника, взял в плен до двух десятков солдат. Звание Героя Советского Союза присвоено 29 июня 1945 года. Награжден орденами Ленина, Отечественной войны 1-й степени, Красной Звезды, «За службу Родине в Вооруженных Силах СССР» 3-й степени, Славы 3-й степени, медалями, а также почетным знаком «Заслуженный работник МВД СССР».
    .row.text--mb
      .col-sm-6.col-md-2
        .card.card--img
          img.card__img(src="./assets/images/history/heroes/h6.jpg" alt="img")
      .col-sm-6.col-md-10
        span.title.title--heroes Герой Советского Союза
        h2.title Иван Петрович Зарубин
        p.text.text--justify Родился 14 января 1908 года в селе Гусынка Обливского района Ростовской области. В боях Великой Отечественной войны с июля 1941 года. Заместитель командира 22-й гвардейской мотострелковой бригады 6-го гвардейского Киевско-Берлинского Краснознаменного, орденов Суворова и Богдана Хмельницкого танкового корпуса 3-й гвардейской танковой армии 1-го Украинского фронта гвардии майор Зарубин И.П. 21 апреля 1945 года в боях на подступах к Берлину принял командование бригадой. 25 апреля вместе с бойцами форсировал канал Тельтов. Умело организовал переправу частей бригады и приданных средств усиления и завязал бой с противником на окраине Берлина. В этих боях противнику был нанесен значительный урон в живой силе и боевой технике. Звание Героя Советского Союза присвоено 27 июня 1945 года. Награжден орденом Ленина, 3 орденами Красного Знамени, орденами Александра Невского, Отечественной войны 1-й степени, 2 орденами Красной Звезды, медалями.
    .row.text--mb
      .col-sm-6.col-md-2
        .card.card--img
          img.card__img(src="./assets/images/history/heroes/h7.jpg" alt="img")
      .col-sm-6.col-md-10
        span.title.title--heroes Герой Советского Союза
        h2.title Николай Васильевич Калуцкий
        p.text.text--justify Родился 19 декабря 1919 года на хуторе Пролетарском Кореновского района Краснодарского края. Участник Великой Отечественной войны с июня 1941 года Командир 1229-го Краснознаменного гаубичного артиллерийского полка 58-й тяжелой гаубичной артиллерийской бригады 18-й Краснознаменной Гатчинской ордена Суворова артиллерийской дивизии 3-го артиллерийского корпуса прорыва РВГК 65-й армии 2-го Белорусского фронта капитан Калуцкий Н.В. 29 января 1945 года на вислинском плацдарме в районе города Грудзендз (Польша) артиллерийским огнем поддерживал отражение контратаки противника. Управляя огнем с наблюдательного пункта, находившегося впереди боевых порядков пехоты, в критические моменты боя дважды вызывал огонь на себя. Звание Героя Советского Союза присвоено 10 апреля 1945 года. Почетный гражданин города Дербент. Награжден орденом Ленина, 2 орденами Отечественной войны 1-й степени, орденом Отечественной войны 2-й степени, 2 орденами Красной Звезды, медалями.
    .row.text--mb
      .col-sm-6.col-md-2
        .card.card--img
          img.card__img(src="./assets/images/history/heroes/h8.jpg" alt="img")
      .col-sm-6.col-md-10
        span.title.title--heroes Герой Советского Союза
        h2.title Виктор Дмитриевич Капшук
        p.text.text--justify Родился 15 июля 1965 года в селе Карапыши Мироновского района Киевской обл. В 1983 году был призван на действительную военную службу в пограничные войска. С мая 1984 года по декабрь 1985 год – в десантно-штурмовой маневренной группе 47-го Керкинского пограничного отряда, которая действовала в северных районах Афганистана. Принимал участие в боевых операциях. Был контужен. Несмотря на это, он в последующем решил связать свою жизнь с границей – стать офицером-пограничником. Звание Героя Советского Союза присвоено 6 ноября 1985 года за мужество и героизм, проявленные при осуществлении боевых операций по оказанию интернациональной помощи Республике Афганистан. Награжден орденом Ленина и медалью «Золотая Звезда», многими медалями, нагрудными знаками «Отличник погранвойск» 1-й и 2-й степеней, Почетным знаком ВЛКСМ и знаком Центрального Комитета ВЛКСМ «Воинская доблесть». 
    .row.text--mb
      .col-sm-6.col-md-2
        .card.card--img
          img.card__img(src="./assets/images/history/heroes/h9.jpg" alt="img")
      .col-sm-6.col-md-10
        span.title.title--heroes Герой Советского Союза
        h2.title Алексей Иванович Киреев
        p.text.text--justify Родился 8 марта 1908 года в деревне Новоалексеевка Москаленского района Омской области. На фронтах Великой Отечественной войны с июля 1942 года. Командир 809-го штурмовою авиационного полка 264-й штурмовой авиационной дивизии 5-го штурмового авиационного корпуса 5-й воздушной армии 2-го Украинского фронта подполковник Киреев А.И. к ноябрю 1944 года совершил 131 боевой вылет на бомбардировку и штурмовку живой силы и техники противника, из них 28 – с посадкой в его тылу. Уничтожил и повредил 16 танков, 41 автомашину, 6 минометных точек, 2 самолета, 4 склада с боеприпасами, 10 укрепленных узлов и дзотов. Звание Героя Советского Союза присвоено 15 мая 1946 года. Награжден орденом Ленина, 2 орденами Красного Знамени, орденами Александра Невского, Отечественной войны 3-й степени, Красной Звезды, медалями.
    .row.text--mb
      .col-sm-6.col-md-2
        .card.card--img
          img.card__img(src="./assets/images/history/heroes/h10.jpg" alt="img")
      .col-sm-6.col-md-10
        span.title.title--heroes Герой Советского Союза
        h2.title Феодосий Павлович Коренчук
        p.text.text--justify Родился 11 января 1917 года в селе Татариновка Сквирского района Киевской области. Участник советско-финляндской войны 1939–1940 гг. Зам. политрука саперного взвода 4-го погранотряда политрук Коренчук Ф.П. в составе группы 17 января 1940 года штыковой атакой обратил в бегство противника. Звание Героя Советского Союза присвоено 26 апреля 1940 года. В 1941 году окончил военно-политическое училище. Участник Великой Отечественной войны, был помощником начальника политотдела армии по комсомольской работе, заместителем командира полка по политчасти. Награжден орденами Ленина, Отечественной войны 1-й степени, 4 орденами Красной Звезды, медалями.





        