extends ../main.layout.pug

block variables
  - var title = 'История'

block content
  .container 
    h1.title.title--page История Института
    .history
      p.text.text--justify.text--mb  История Голицынского пограничного института ФСБ&nbsp;России начинается с Первой школы погранохраны войск ОГПУ, созданной <b>14 ноября 1930 года</b> в городе Новый Петергоф Ленинградской области. Она стала первым базовым учебным заведением пограничной охраны, на основе которого формировались пограничные школы в Харькове, Саратове и Москве. Первый выпуск офицеров Ново-Петергофской школы состоялся 20 апреля 1932 года. <b>20 апреля 1937 года,</b> согласно приказу НКВД, школа реорганизовалась в Ново-Петергофское военное училище пограничной и внутренней охраны войск НКВД имени К.Е. Ворошилова, а <b>с 7 марта 1938 года</b> училище стало именоваться Ново-Петергофское военно-политическое училище пограничных и внутренних войск НКВД имени К.Е. Ворошилова. Выпускники Первой Ново-Петергофской школы погранохраны войск ОГПУ / Ново-Петергофского военно-политического училища пограничных и внутренних войск НКВД им. К.Е. Ворошилова <b>во второй половине 30-х годов</b> участвовали в военных конфликтах у озера Хасан, в районе реки Халхин-Гол, в боях советско-финляндской войны. <b>В первые месяцы Великой Отечественной войны</b> в училище состоялись три досрочных выпуска: для фронта было подготовлено более 2000 офицеров. 
      .row
        .col-sm-6.col-md-3
          .card.card--img
            img.card__img(src="./assets/images/history/history1.jpg" alt="img")
            p.card__desc.card__desc--history Боевые действия второго батальона Н.&nbsp;Петергофского ВПУ&nbsp;НКВД им. К.Е.&nbsp;Ворошилова с 18 по 24 августа 1941&nbsp;года в районе ст.&nbsp;Елизаветово дер. Б.&nbsp;Борницы
        .col-sm-6.col-md-3
          .card.card--img
            img.card__img(src="./assets/images/history/history4.jpg" alt="img")
            p.card__desc.card__desc--history Торжественное построение в день 30-й годовщины Великого Октября 7 ноября 1947 года <br> (г.Саратов)
        .col-sm-6.col-md-3
          .card.card--img
            img.card__img(src="./assets/images/history/history2.jpg" alt="img")
            p.card__desc.card__desc--history Памятник, увековечившие память о подвиге курсантов <br> Новопетергофского военно-политического училища 
        .col-sm-6.col-md-3
          .card.card--img
            img.card__img(src="./assets/images/history/history3.jpg" alt="img")
            p.card__desc.card__desc--history Мемориал, увековечившие память о подвиге курсантов <br> Новопетергофского военно-политического училища 
      p.text.text--justify.text--mb Когда враг пытался захватить Ленинград, два курсантских батальона под командованием майора Шорина Н.А. и капитана Золотарева А.А. мужественно защищали подступы к городу. Задержав продвижение противника более чем на 2 недели, они дали возможность отходящим частям Красной Армии перегруппировать свои силы и подготовиться к обороне на новых рубежах. Пятьдесят дней курсанты находились в непрерывных боях, защищая подступы к Ленинграду. Их героизм был отмечен высокой государственной наградой: 10 февраля 1943 года Указом Президиума Верховного Совета СССР за образцовое выполнение боевых заданий командования на фронте, мужество, стойкость и отвагу в борьбе с немецко-фашистскими захватчиками училище было награждено орденом Красного Знамени.  
      .row
        .col-sm-12
          .card.card--img.card--right
            img.card__img(src="./assets/images/history/history5.jpg" alt="img")
            p.card__desc.card__desc--history Начало строительства комплекса сооружений Высшего пограничного военно-политического училища КГБ при СМ&nbsp;СССР
          p.text.text--justify <b>В апреле 1942 года</b> учебное заведение передислоцировано в Саратов, где в послевоенные годы продолжилась подготовка офицеров-политработников для войск НКВД. <b>3 октября 1967&nbsp;года</b> начался новый этап в деятельности учебного заведения. В соответствии с постановлением Совета Министров СССР было принято решение о создании Высшего пограничного военно-политического училища КГБ при СМ&nbsp;СССР. 16&nbsp;ноября 1967&nbsp;года издан приказ КГБ&nbsp;при&nbsp;СМ&nbsp;СССР «Об организации Высшего пограничного военно-политического училища КГБ и о строительстве комплекса зданий и сооружений военного городка в п.&nbsp;Голицыно Московской области». <b>К 1972&nbsp;году</b> строительство было завершено. Указом Президиума Верховного Совета СССР от 13 марта 1972&nbsp;года и постановлением Совета Министров СССР от 17 марта 1972&nbsp;года Высшее пограничное училище признано правопреемником Военно-политического училища НКВД имени К.Е.&nbsp;Ворошилова. <b>3 ноября 1972&nbsp;года</b> училищу вручены Боевое Знамя части и орден&nbsp;Красного&nbsp;Знамени. Преподавательский состав кафедр формировался из сотрудников Алма-Атинского и Московского пограничных училищ, офицеров из войск, выпускников военных академий. <b>Первый набор осуществлен в 1972&nbsp;году.</b> Деятельность командования и офицерско-преподавательского состава училища <b>в 70-е&nbsp;годы</b> была высоко оценена государством: Указом Президиума Верховного Совета СССР от 23 октября 1980&nbsp;года за большие заслуги в подготовке высококвалифицированных кадров училище награждено орденом Октябрьской Революции. Постановлением Правительства Российской Федерации <b>от 30 августа 1993&nbsp;года</b> училище преобразовано в военный институт со сроком обучения 5 лет. Институт стал готовить офицеров по специальностям Юриспруденция и Социальная педагогика. С 1997 по 2001&nbsp;год в институте осуществлялся набор курсантов-девушек. <b>В 2000-е&nbsp;годы</b> продолжилось совершенствование образовательного процесса в вузе. В связи с реформированием ФПС&nbsp;России, распоряжением Правительства&nbsp;РФ от 24 октября 2003 года вуз переименован в Голицынский пограничный институт Федеральной службы безопасности Российской Федерации. <b>В 2005&nbsp;году</b> в институте создана адъюнктура, в которой ведется подготовка научно-педагогических кадров для органов безопасности. <b>В сентябре 2008&nbsp;года</b> в г.&nbsp;Ставрополе начал образовательную деятельность филиал Голицынского пограничного института ФСБ&nbsp;России, где готовят специалистов (прапорщиков) со средним профессиональным образованием. <b>С 2011&nbsp;года</b> в рамках реализации нового федерального государственного образовательного стандарта высшего профессионального образования в институте осуществляется подготовка по специальностям Пограничная деятельность, Психология служебной деятельности, Правовое обеспечение национальной безопасности. <b>В октябре 2017 года</b> Институт прошел государственную аккредитацию.
  .container 
    h1.title.title--page История филиала Института
    p.text.text--justify <b>30 июля 2007 г.</b> в соответствии с приказом ФСБ&nbsp;России в штат Голицынского пограничного института ФСБ&nbsp;России введен Филиал Института (с дислокацией в г. Ставрополе).
    p.text.text--justify <b>15 марта 2008 г.</b> назначен и приступил к исполнению обязанностей начальника филиала Института Кунаковский Анатолий Иванович.
    p.text.text--justify <b>25 марта 2008 г.</b> распоряжением Правительства Российской Федерации создан филиал образовательного учреждения высшего профессионального образования Голицынского пограничного института ФСБ&nbsp;России (г. Ставрополь). Филиал федерального государственного образовательного учреждения высшего профессионального образования «Голицынский пограничный институт Федеральной службы безопасности Российской Федерации» (г.Ставрополь) является обособленным структурным подразделением Института, расположенным вне места его нахождения и осуществляющим постоянно все его функции или их часть. 
    p.text.text--justify <b>26 июня 2010 г.</b> произведен первый выпуск курсантов филиала Голицынского пограничного института ФСБ&nbsp;России (г.Ставрополь).
    p.text.text--justify <b>17 июня 2015 г.</b> образовательная организация переименована в Федеральное государственное казенное образовательное учреждение высшего образования Голицынский пограничный институт Федеральной службы безопасности Российской Федерации (Филиал в г. Ставрополе).
    p.text.text--justify <b>2 июня 2018 г.</b> произведен двенадцатый выпуск курсантов филиала Голицынского пограничного института ФСБ&nbsp;России (г.Ставрополь).
  .container
    h1.title.title--page Начальники Института
    .row
      -
        var list_ni = [{
          img: "ni1.jpg",
          name: "Барановский Семен Давыдович",
          years: "1930-1933 г."
        },
        {
          img: "ni2.jpg",
          name: "Карклин Эдуард Петрович",
          years: "1933-1938 г."
        },
        {
          img: "ni3.jpg",
          name: "Леонов Валентин Андреевич",
          years: "1933, 1937-1938 г."
        },
        {
          img: "ni4.jpg",
          name: "Артемьев Павел Артемьевич",
          years: "1938-1940 г."
        },
        {
          img: "ni5.jpg",
          name: "Борисоглебский Евгений Иванович",
          years: "1940 г."
        },
        {
          img: "ni6.jpg",
          name: "Григорьев Иван Николаевич",
          years: "1940-1953 г."
        },
        {
          img: "ni7.jpg",
          name: "Курский Павел Петрович",
          years: "1968-1970 г."
        },
        {
          img: "ni8.jpg",
          name: "Чиркин Павел Александрович",
          years: "1970-1982 г."
        },
        {
          img: "ni9.jpg",
          name: "Колосков Юрий Вениаминович",
          years: "1982-1990 г."
        },
        {
          img: "ni10.jpg",
          name: "Олефир Виктор Остапович",
          years: "1990-1997 г."
        },
        {
          img: "ni11.jpg",
          name: "Коровенко Юрий Алексеевич",
          years: "1997-2003 г."
        },
        {
          img: "ni12.jpg",
          name: "Городинский Владимир Иванович",
          years: "2003-2010 г."
        },
        {
          img: "ni13.jpg",
          name: "Костриков Олег Игоревич",
          years: "2010-2015 г."
        },
        {
          img: "ni14.jpg",
          name: "Коньшин Владислав Анатольевич ",
          years: "2015-2019 г."
        },
        ]
      each ni in list_ni
        .col-xs-6.col-sm-3.col-md-3.col-lg-2
          .card.card--img
            img.card__img(alt="img" src="./assets/images/history/last_directors/" + ni.img)
            .card__desc.card__desc--last-director 
              p= ni.name
              p= ni.years

          