extends ../main.layout.pug

block variables
  - var title = 'Главная'

block content
  .wrapper
    .about
      .about__desc
        .container
          p.text.text--desc <b>Голицынский пограничный институт Федеральной службы безопасности Российской Федерации</b> -  федеральное государственное казенное образовательное учреждение высшего образования. Учредителем и собственником имущества Института является Российская Федерация. Функции и полномочия учредителя и собственника осуществляет ФСБ&nbsp;России. Деятельность Института осуществляется в соответствии с законодательством Российской Федерации, международными договорами Российской Федерации, ведомственными нормативными правовыми актами, межведомственными соглашениями, Общевоинскими уставами Вооруженных Сил Российской Федерации, Уставом Института, а также нормативными правовыми актами Министерства науки и высшего образования Российской Федерации и Министерства просвещения Российской Федерации. В соответствии с действующей лицензией Федеральной службы по надзору в сфере образования и науки в Институте реализуются образовательные программы высшего, среднего профессионального и дополнительного профессионального образования. В настоящее время в интересах органов федеральной службы безопасности, других органов исполнительной власти Российской Федерации Институт осуществляет подготовку:
    .direction
      .container
        .direction__list
          .row
            .direction__item.col-sm-6
              .card
                h2.card__title 1. На основной базе (г. Голицыно)
                p.text <b>1.1. Офицеров с высшим образованием (срок обучения 5 лет) по специальностям:</b>
                p.text - 57.05.01 Пограничная деятельность, квалификация - специалист по управлению пограничной деятельностью, специализация - оперативно-служебная деятельность подразделений пограничного контроля;
                p.text - 57.05.01 Пограничная деятельность, квалификация - специалист по управлению пограничной деятельностью, специализация - управление персоналом пограничных органов;
                p.text - 37.05.02 Психология служебной деятельности, квалификация - психолог; 
                p.text - 40.05.01 Правовое обеспечение национальной безопасности, квалификация - юрист.
                p.text По окончании Института выпускникам выдается диплом о высшем образовании и присваивается воинское звание <b>"лейтенант".</b>
                hr.line
                p.text <b>1.2. Специалистов среднего звена со средним профессиональным образованием по специальности:</b>
                p.text - 57.02.01 Пограничная деятельность, квалификация - специалист пограничной службы (срок обучения 1 год 10 месяцев).
                p.text По окончании Института выпускникам выдается диплом о среднем профессиональном образовании и присваивается воинское звание <b>"прапорщик".</b>
            .direction__item.col-sm-6
              .card
                h2.card__title 2. На базе филиала Института (г. Ставрополь)
                p.text <b>2.1. Специалистов среднего звена со средним профессиональным образованием по специальностям:</b>
                p.text - 57.02.01 Пограничная деятельность, квалификация - специалист пограничной службы (срок обучения 1 год 10 месяцев).
                p.text - 10.02.04 Обеспечение информационной безопасности телекоммуникационных систем, квалификация - техник по защите информации (срок обучения 2 года 10 месяцев).
                p.text По окончании Института выпускникам выдается диплом о среднем профессиональном образовании и присваивается воинское звание  <b>"прапорщик".</b>
          .row
            .direction__item.col-lg-12
              .card.card--last 
                h2.card__title 3. Адъюнктура Института 
                p.text В адъюнктуре Института по очной и заочной формам обучения ведется подготовка кадров высшей квалификации из числа сотрудников органов безопасности.
    .about
      .about__desc
        .container
          p.text.text--desc Прием граждан в Институт осуществляется в соответствии с приказом ФСБ&nbsp;России от 20 мая 2014 года № 277 «Об утверждении Инструкции о порядке и условиях приема граждан Российской Федерации в образовательные организации ФСБ&nbsp;России» и Правилами приема в Голицынский пограничный институт ФСБ&nbsp;России и его филиал в городе Ставрополе.
          
      
