extends ../main.layout.pug

block variables
  - var title = 'В зеркале прессы'

block content
  .container 
    h1.title.title--page Наполним музыкой сердца
    h2.title В стенах Института прошел XI международный фестиваль пограничной песни
    h2.title История фестиваля
    .row
      .col-sm-12
        .card.card--img.card--right
          img.card__img(src="./assets/images/press/press6/press1.jpg" alt="img")
          p.card__desc.card__desc--history Открытие фестиваля началось с церемонии возложения цветов к памятному монументу выпускникам-голицынцам
        p.text.text--justify.text--mb Вот уже более двадцати лет традиционный фестиваль собирает лучших исполнителей со всех пограничных управлений России, а также пограничных ведомств стран СНГ. Его история берёт начало с 1995 года, когда состоялся первый смотр-конкурс авторской песни пограничных бардов. С тех пор этот праздник песни стал постоянным гостем города Голицыно и проводится в осенние месяцы каждого нечётного года. За годы своего существования пограничный фестиваль собрал огромное число поклонников со всех уголков страны. Его значимость подчёркивалась «звёздным» составом ведущих и членов жюри. В разное время с этой целью институт посетили известные артисты и исполнители, в числе которых Наталья Варлей, Александр Панкратов-Чёрный, Борис Невзоров, Леонид Агутин... Популярность конкурса позволила ему занять достойное место среди культурных мероприятий государственной программы «Патриотическое воспитание граждан Российской Федерации» и федеральной целевой программы «Культура России». Многие годы на фестивале звучат песни о любви к Родине, подвиге российского народа и героизме пограничников. Многие исполнители и творческие коллективы достойно представляют Пограничную службу на лучших концертных площадках страны, выступают на фестивалях бардовской и военно-патриотической песни. Нынешний фестиваль не совсем обычный. Помимо того что он проводится в год 100-летия образования Федеральной службы безопасности Российской Федерации, открытие фестиваля совпало с 87-летием Голицынского пограничного института ФСБ&nbsp;России. За победу боролись как профессиональные, так и начинающие исполнители и коллективы из числа военнослужащих и гражданского персонала Пограничной службы ФСБ&nbsp;России. На фестиваль прибыли победители смотров-конкурсов не только пограничных управлений страны, но также гости из стран СНГ. В этом году продемонстрировали своё творчество представители Монгольской Республики. Творчество конкурсантов оценивали известные деятели культуры. Среди них многократный лауреат фестивалей «Песня года» Симон Осиашвили, народный артист России Олег Иванов, певец и композитор Александр Добронравов, заслуженный артист России Александр Савин и кандидат искусствоведения Галина Марахтанова.
    h2.title С днем рождения, Институт!
    .row
      .col-sm-12
        .card.card--img.card--right
          img.card__img(src="./assets/images/press/press6/press2.jpg" alt="img")
          p.card__desc.card__desc--history Приветственное слово начальника Голицынского пограничного института ФСБ&nbsp;России генерал-майора В.А.&nbsp;Коньшина
        p.text.text--justify.text--mb Звуки оркестра возвестили о начале торжественной части в большом зале Культурно-досугового центра института. Для приветствия на сцену поднялся начальник Голицынского пограничного института ФСБ&nbsp;России генерал-майор Коньшин Владислав Анатольевич. В своём выступлении он поздравил институт с днем рождения и отметил, что вуз всегда занимал достойное место в системе профессионального образования органов безопасности. И в мирные годы, и в драматический период военного времени его выпускники с честью выполняли свой служебный долг. Далее Владислав Анатольевич свои слова адресовал участникам фестиваля, которым пожелал творческих успехов и громких побед. Конкурсные дни стали самыми волнительными для участников. Каждого конкурсанта поддерживали овациями и тёплыми словами. Очень точно выразил атмосферу сплочённости участников и зрителей заслуженный артист России Симон Осиашвили. Он выступил с песней «Ах, друзья мои, друзья!», которую посвятил всем тем, кто служит на границе. Эту песню я написал своим самым близким людям, – сказал он. – А когда я здесь, в Голицынском пограничном институте, то чувствую, будто нахожусь в кругу самых близких друзей... Несколько лет назад Симон Абрамович посвятил пограничникам такие строки: «Далеко от Москвы есть такие места, где кончается то, что зовётся Отчизной. Для кого-то граница – всего лишь черта, а для нас эта чёрточка - линия жизни». Музыкальные композиции, представленные на суд строгого жюри, были наполнены гордостью за причастность к пограничной службе. На фестивале присутствовала делегация из Монголии: монгольские офицеры, а также Панди Буянхуу - Первый секретарь посольства Монголии в Российской Федерации - выпускник ГПИ ФСБ&nbsp;России 1983 года.
    .row
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/press/press6/press3.jpg" alt="img")
          p.card__desc.card__desc--history На сцене фестиваля пограничной песни прекрасная представительница делегации Монгольской Республики
      .col-sm-6
        .card.card--img
          img.card__img(src="./assets/images/press/press6/press4.jpg" alt="img")
          p.card__desc.card__desc--history Почетные гости фестиваля ансамбль казачей песни "Станичники", родом из п.&nbsp;Целина Ростовской области
    p.text.text--justify.text--mb Многократный обладатель Гран-при и почётных дипломов различных конкурсов вокальная группа «Честь имею!» Голицынского пограничного института ФСБ&nbsp;России удостоилась оглушительного взрыва оваций за яркое выступление на сцене фестиваля. В заключение фестиваля свои чувства выразил заместитель председателя Координационного совета Международного союза ветеранов пограничной службы Мансур Валиев: «Пограничники ещё раз увидели, насколько любима наша Родина и как мы выражаем эту любовь через песню и через искусство». Конкурсные дни и гала-концерт пролетели незаметно, как для участников, так и для зрителей. И вот последнее совместное выступление победителей, обмен адресами для будущих писем и сборы домой, на границу, в самые отдалённые участки страны. Фестиваль пограничной песни – это прекрасное зрелищное мероприятие, и мы всегда будем ждать его с нетерпением и, конечно, вновь с радостью примем его участников на нашей гостеприимной земле Подмосковья, – сказал на прощание начальник Голицынского пограничного института ФСБ&nbsp;России Коньшин Владислав Анатольевич.
    p.text.text--justify.text--mb Евгений Стасов
    