extends ../main.layout.pug

block variables
  - var title = 'В зеркале прессы'

block content
  .container
    h1.title.title--page В зеркале прессы
    .row
      .col-sm-12
        a(href="press7.html").card.card--link
          p.text.text--link Интервью Начальника Института
          p.text Телеканал ТКР, программа "Поговорим", октябрь 2019&nbsp;г.
      .col-sm-12
        a(href="press6.html").card.card--link
          p.text.text--link Наполним музыкой сердца
          p.text Газета "Честь имею!", № 443, декабрь 2017&nbsp;г.
      .col-sm-12
        a(href="press5.html").card.card--link
          p.text.text--link 28 мая
          p.text Газета "Честь имею!", № 752, сентябрь 2016&nbsp;г.
      .col-sm-12
        a(href="press4.html").card.card--link
          p.text.text--link Конкурс пограничного мастерства
          p.text Газета "Честь имею!", № 752, сентябрь 2016&nbsp;г.
      .col-sm-12
        a(href="press3.html").card.card--link
          p.text.text--link День открытых дверей
          p.text Газета "Честь имею!", № 752, сентябрь 2016&nbsp;г.
      .col-sm-12
        a(href="press2.html").card.card--link
          p.text.text--link Наполним музыкой сердца
          p.text Газета "Честь имею!", №7 (№436), декабрь 2015&nbsp;г. С 11 по 14 ноября в Голицынском пограничном институте ФСБ&nbsp;России прошёл X фестиваль пограничной песни. В конкурсе приняли участие более двухсот исполнителей и коллективов со всех концов России, ближнего и дальнего зарубежья.
      .col-sm-12
        a(href="press1.html").card.card--link
          p.text.text--link С днем рождения, Институт!
          p.text Газета "Граница России", №44 , ноябрь 2015&nbsp;г. В Голицынском пограничном институте ФСБ&nbsp;России прошли торжественные мероприятия, посвященные празднованию 85-летию со дня образования вуза

