extends ../main.layout.pug

block variables
  - var title = 'Спортивная жизнь'

block content
  .container 
    h1.title.title--page Спортивная жизнь 
    p.text.text--justify.text--mb В системе физической подготовки для развития у военнослужащих основных и специальных физических качеств в Институте проводятся занятия по следующим разделам: гимнастика и атлетическая подготовка, рукопашный бой, преодоление препятствий, ускоренное передвижение и легкая атлетика, лыжная подготовка, служебно-прикладное плавание, спортивные и подвижные игры, ускоренное передвижение с ориентированием на местности, основы горной подготовки, комплексные занятия. 
    p.text.text--justify.text--mb На базе Института регулярно проводятся спортивные мероприятия, в том числе общероссийского и международного уровня.
    .row 
      .col-sm-6.col-md-4
        .card.card--img
          img.card__img(src="./assets/images/sport/sport1.jpg" alt="img")
          .card__desc.card__desc--history Универсальный спортивный зал №1
      .col-sm-6.col-md-4
        .card.card--img
          img.card__img(src="./assets/images/sport/sport2.jpg" alt="img")
          .card__desc.card__desc--history Универсальный спортивный зал №2
      .col-sm-6.col-md-4
        .card.card--img
          img.card__img(src="./assets/images/sport/sport3.jpg" alt="img")
          .card__desc.card__desc--history Тренажерный зал №1
      .col-sm-6.col-md-4
        .card.card--img
          img.card__img(src="./assets/images/sport/sport4.jpg" alt="img")
          .card__desc.card__desc--history Тренажерный зал №2
      .col-sm-6.col-md-4
        .card.card--img
          img.card__img(src="./assets/images/sport/sport5.jpg" alt="img")
          .card__desc.card__desc--history Зал гиревого спорта
      .col-sm-6.col-md-4
        .card.card--img
          img.card__img(src="./assets/images/sport/sport6.jpg" alt="img")
          .card__desc.card__desc--history Зал рукопашного боя и борьбы
    p.text.text--justify.text--mb Сборные команды Института по мини-футболу, волейболу, гиревому спорту, рукопашному бою, самбо, спортивному ориентированию, легкой атлетике, плаванию, лыжным гонкам, служебному двоеборью, пограничному троеборью, шахматам, настольному теннису принимают участие и занимают призовые места в различных ведомственных и межведомственных Спартакиадах, в первенствах и Чемпионатах России.
    .row 
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/sport/sport7.jpg" alt="img")
          .card__desc.card__desc--history 25-м бассейн на 6 дорожек с 2-мя вышками
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/sport/sport8.jpg" alt="img")
          .card__desc.card__desc--history Скалодром
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/sport/sport9.jpg" alt="img")
          .card__desc.card__desc--history Зал настольного тениса
      .col-sm-6.col-md-3
        .card.card--img
          img.card__img(src="./assets/images/sport/sport10.jpg" alt="img")
          .card__desc.card__desc--history Стадион
    p.text.text--justify.text--mb Специалистами кафедры физической подготовки Института за последние годы подготовлены 1 заслуженный мастер спорта России, 6 мастеров спорта России международного класса, 197 мастеров спорта России и более 700 спортсменов разрядников по различным видам спорта.
    p.text.text--justify.text--mb Успехам курсантов в спорте способствует современная учебно-тренировочная база Института. Для проведения занятий по физической подготовке и тренировок по различным видам спорта имеются многофункциональные спортивные залы, специализированные залы борьбы и рукопашного боя, тренажерные залы, комплекс высотной подготовки, плавательный бассейн, спортивный стадион, лыжная трасса и плоскостные спортивные сооружения.
    
          
