extends ../main.layout.pug

block variables
  - var title = 'Вступительные испытания'

block content
  .container 
    h1.title.title--page Вступительные испытания в&nbsp;Институте
    .table-responsive
      table.table
        thead
          tr
            th Специальность (направление подготовки)
            th Квалификация (степень)
            th Срок подготовки
            th ЕГЭ (минимальное кол-во баллов)
            th Вступительные испытания
        tbody
          tr
            td 57.05.01 Пограничная деятельность
            td Специалист по управлению пограничной деятельностью
            td Высшее образование 5 лет (очно)
            td Русский язык (42), Обществознание (45)
            td История (36), Физическая подготовка
          tr
            td 37.05.02 Психология служебной деятельности
            td Психолог
            td Высшее образование 5 лет (очно)
            td Русский язык (42), Математика (профильный уровень) (34)
            td Биология (36), Физическая подготовка
          tr
            td 40.05.01 Правовое обеспечение национальной безопасности
            td Юрист
            td Высшее образование 5 лет (очно)
            td Русский язык (42), История (36)
            td Обществознание (45), Физическая подготовка
          tr
            td 57.02.01 Пограничная деятельность
            td Специалист пограничной службы
            td Среднее проф. образование 1 год 10 месяцев (очно)
            td -
            td -
    h1.title.title--page Вступительные испытания в Филиале Института (г.&nbsp;Ставрополь)
    .table-responsive
      table.table
        thead
          tr
            th Специальность (направление подготовки)
            th Квалификация (степень)
            th Срок подготовки
            th ЕГЭ (минимальное кол-во баллов)
            th Вступительные испытания
        tbody
          tr
            td 57.02.01 Пограничная деятельность
            td Специалист пограничной службы
            td Среднее проф. образование 1 год 10 месяцев (очно)
            td -
            td -
          tr
            td 10.02.04 Обеспечение информационной безопасности телекоммуникационных систем
            td Техник по защите информации
            td Среднее проф. образование 2 года 10 месяцев (очно)
            td -
            td -
    p.text.text--justify.text--mb <b>К освоению образовательных программ среднего профессионального образования допускаются лица, имеющие образование не ниже среднего общего образования.</b> В случае если количество поступающих превышает установленный объем набора, то при зачислении учитывается средний балл результатов освоения поступающими образовательной программы среднего общего образования (средний балл аттестата о среднем общем образовании).
    p.text.text--justify <b>Кандидаты, не прошедшие по конкурсу на заявленный поток подготовки:</b>
    p.text.text--mb  &#8209; имеют право участвовать в конкурсе на иной поток подготовки в Институте (филиале Института) или другой образовательной организации ФСБ&nbsp;России по программам среднего профессионального образования.
  
        
                
                

                
                
                
          