extends ../main.layout.pug

block variables
  - var title = 'Часто задаваемые вопросы'

block content
  .container 
    h1.title.title--page Часто задаваемые вопросы
    .row
      .col-xs-12
        #accordion-questions.panel-group
          .panel
            .panel-heading
              h2.panel-title
                a(data-toggle='collapse' data-parent='#accordion-questions' href='#q1') 1.&nbsp;Можно ли в ваше учебное заведение поступить девушке? Если да, то на какие специальности берут девушек?
            #q1.panel-collapse.collapse.in
              .panel-body
                p.text Голицынский пограничный институт ФСБ&nbsp;России не проводит набор для обучения лиц женского пола.
          .panel
            .panel-heading
              h2.panel-title
                a(data-toggle='collapse' data-parent='#accordion-questions' href='#q2') 2.&nbsp;Какие документы надо готовить для поступления в ГПИ&nbsp;ФСБ&nbsp;России?
            #q2.panel-collapse.collapse
              .panel-body
                p.text.text--justify Согласно приказу ФСБ&nbsp;России от 20&nbsp;мая 2014&nbsp;года №&nbsp;277 «Об утверждении Инструкции о порядке и условиях приема граждан Российской Федерации в образовательные организации ФСБ&nbsp;России» заявления (рапорта) о поступлении на обучение в образовательные организации ФСБ&nbsp;России подаются в срок не позднее 1&nbsp;марта года поступления:
                p.text гражданами Российской Федерации, в том числе прошедшими военную службу - в орган безопасности по месту жительства;
                p.text гражданами Российской Федерации, проживающими на территории закрытых военных городков, закрытых административно-территориальных образований - в орган безопасности в войсках;
                p.text военнослужащими, проходящими военную службу по контракту в органах безопасности - руководителю, начальнику органа безопасности;
                p.text военнослужащими, проходящими военную службу по призыву или по контракту в других федеральных органах исполнительной власти - в орган безопасности в войсках по месту прохождения военной службы.
                p.text В заявлении (рапорте) указываются наименования образовательной организации ФСБ&nbsp;России и потока подготовки, на который кандидат изъявил желание поступать.
                p.text К заявлению (рапорту) прилагаются:
                p.text а) анкета, заполненная и подписанная;
                p.text б) автобиография, написанная кандидатом от руки в произвольной форме;
                p.text в) копии свидетельств о рождении, заключении (расторжении) брака и документов об образовании кандидата, заверенные в установленном порядке;
                p.text г) копии свидетельств о рождении, заключении (расторжении) брака, смерти близких родственников кандидата, заверенные в установленном порядке;
                p.text д) справка о текущей успеваемости на момент представления документов (для учащихся);
                p.text е) характеристика с места учебы (службы или работы), заверенная печатью соответствующей организации;
                p.text ж) шесть фотографий размером 4,5 х 6 см (на матовой бумаге без уголка);
                p.text з) копия полиса обязательного медицинского страхования;
                p.text и) копия финансово-лицевого счета и выписка из домовой (поквартирной) книги с места жительства;
                p.text к) копии документов, подтверждающих особые права кандидата при приеме в образовательную организацию ФСБ&nbsp;России.
          .panel
            .panel-heading
              h2.panel-title
                a(data-toggle='collapse' data-parent='#accordion-questions' href='#q3') 3.&nbsp;Могу ли я поступить в Голицынский пограничный институт ФСБ&nbsp;России, имея неполное высшее образование? Нужно ли мне сдавать ЕГЭ?
            #q3.panel-collapse.collapse
              .panel-body
                p.text Вы имеете право поступать в Голицынский пограничный институт ФСБ&nbsp;России, т.к. не имеете высшего образования.
                p.text Вам необходимо сдавать ЕГЭ, если вы не относитесь к следующим категориям кандидатов:
                p.text &#8209; имеющих среднее профессиональное образование;
                p.text &#8209; имеющих среднее (полное) общее образование, полученное в образовательных учреждениях иностранных государств.
                p.text Указанные граждане имеют право сдавать вступительные испытания вместо ЕГЭ в Институте.
          .panel
            .panel-heading
              h2.panel-title
                a(data-toggle='collapse' data-parent='#accordion-questions' href='#q4') 4.&nbsp;Нужен ли при поступлении аттестат, выданный после окончания 11 классов средней школы?
            #q4.panel-collapse.collapse
              .panel-body
                p.text.text--justify Аттестат о среднем (полном) общем образовании (подлинник) необходимо представить при прибытии в приемную комиссию как свидетельство об уровне полученного образования.
          .panel
            .panel-heading
              h2.panel-title
                a(data-toggle='collapse' data-parent='#accordion-questions' href='#q5') 5.&nbsp;Где можно найти билеты по вступительным испытаниям, чтобы хорошо подготовиться?
            #q5.panel-collapse.collapse
              .panel-body
                p.text.text--justify.text--mb Билеты для сдачи дополнительного испытания профильной направленности содержат задания различного уровня сложности для поступающих на обучение по программам высшего (более сложный уровень) и среднего (менее сложный уровень) профессионального образования, составлены в соответствии с объемом школьной программы обучения и заранее получить их нельзя.
                a(href="student.html#q5") Структура экзаменационных билетов, критерии оценки
          .panel
            .panel-heading
              h2.panel-title
                a(data-toggle='collapse' data-parent='#accordion-questions' href='#q6') 6.&nbsp;Проводится ли набор на второе высшее образование или магистратуру?
            #q6.panel-collapse.collapse
              .panel-body
                p.text.text--justify Лица, имеющие высшее образование, для обучения по образовательным программам высшего образования не принимаются. Образовательные программы высшего образования уровня магистратура Институтом не реализуется. 
          .panel
            .panel-heading
              h2.panel-title
                a(data-toggle='collapse' data-parent='#accordion-questions' href='#q7') 7.&nbsp;Мне в этом году исполнится 24, могу ли я поступать в образовательные организации ФСБ&nbsp;России?
            #q7.panel-collapse.collapse
              .panel-body
                p.text Для обучения в образовательных о ФСБ&nbsp;России принимаются:
                p.text &#8209; граждане Российской Федерации, не проходившие военную службу - в возрасте от 16 до 22 лет включительно;
                p.text &#8209; граждане Российской Федерации, прошедшие военную службу, и военнослужащие, проходящие военную службу по призыву или по контракту - до достижения ими возраста 24 лет. Возраст исчисляется на дату зачисления для обучения.
          .panel
            .panel-heading
              h2.panel-title
                a(data-toggle='collapse' data-parent='#accordion-questions' href='#q8') 8.&nbsp;Мой сын учится в 11 классе и готовится поступать в ГПИ&nbsp;ФСБ&nbsp;России. У него небольшая проблема со зрением. Пожалуйста, сообщите о возможности его поступления в Институт.
            #q8.panel-collapse.collapse
              .panel-body
                p.text.text--justify По вопросам ограничения по зрению просим ознакомиться с Приказом ФСБ&nbsp;России от 29&nbsp;января 2015&nbsp;г. №&nbsp;39 «Об утверждении Требований к состоянию здоровья граждан, поступающих на военную службу по контракту в органы федеральной службы безопасности, военнослужащих органов федеральной службы безопасности, проходящих военную службу по контракту, к видам служебной деятельности, Требований к состоянию здоровья отдельных категорий граждан, поступающих на военную службу по контракту в органы федеральной службы безопасности, военнослужащих органов федеральной службы безопасности, проходящих военную службу по контракту, прохождение военной службы которых связано с особыми условиями, и членов их семей, граждан и военнослужащих, поступающих в образовательные организации ФСБ&nbsp;России, и перечней дополнительных обязательных диагностических исследований», находящимся в открытом доступе сети Интернет.
          .panel
            .panel-heading
              h2.panel-title
                a(data-toggle='collapse' data-parent='#accordion-questions' href='#q9') 9. Когда в Институте проводится день открытых дверей?
            #q9.panel-collapse.collapse
              .panel-body
                p.text.text--justify День открытых дверей в Голицынском пограничном институте ФСБ&nbsp;России проводится ежегодно в последнее воскресенье апреля.
                
                

                
                
                
          