.footer
  .container
    ul.footer__list
      li.footer__item
        a(href="./assets/documents/accreditation.pdf" target="_blank").footer__link Свидетельство об аккредитации
      li.footer__item
        a(href="./assets/documents/license.pdf" target="_blank").footer__link Лицензия
      li.footer__item
        a(href="./assets/documents/statute.pdf" target="_blank").footer__link Устав Института
    .footer__contacts
      p.text.text--footer Адрес Института: Московская область, Одинцовский&nbsp;городской&nbsp;округ, г.Голицыно, Можайское&nbsp;шоссе,&nbsp;д.75.
      p.text.text--footer Почтовый индекс: 143040
      p.text.text--footer
        a.footer__link(href="tel:+74959295623") Контактный телефон отдела кадров: (495) 929-56-23
      p.text.text--footer
        a.footer__link(href="tel:+74959295500") Контактный телефон дежурного по институту: (495) 929-55-00
      p.text.text--footer
        a.footer__link(href="tel:+74959295615") Контактный телефон приемной комиссии: (495) 929-56-15