.hero
  .hero__text
    h1.title.title--hero Голицынский пограничный институт Федеральной службы безопасности
    h2.sub-title Федеральное государственное казенное образовательное учреждение высшего образования
    a(href="info.html").btn.btn--hero Справочная информация
  .hero__gerb
    img.gerb(src="./assets/images/gerb.png" alt="img")
  