@font-face {
  font-family: "PTSansNarrow";
  src: url("./assets/fonts/ptsansnarrow-400-normal.woff2") format("woff2"),
    url("./assets/fonts/ptsansnarrow-400-normal.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "PTSansNarrow";
  src: url("./assets/fonts/ptsansnarrow-700-normal.woff2") format("woff2"),
    url("./assets/fonts/ptsansnarrow-700-normal.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
